.app-header {

  button {
    margin: 0 16px;
  }

  img:hover{
    cursor: pointer;
  }

  .button{
    width: 94px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #6750A4;
    opacity: 0px;
    color: #6750A4;
    font-weight: bold;
    background-color: #1D1B20;

    &:hover {
      cursor: pointer;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: black;
    color: white;
    padding: 0 256px;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: white;
  }
}

